*{
    margin: 0;
    padding: 0;
}
:root {
    --main: rgb(31, 31, 31);
    --second: rgb(194, 194, 194);
    --txt: rgb(255, 255, 255);
    --g1: rgb(98, 0, 234);
    --g2: rgb(236, 64, 122);
    --g3: rgb(253, 216, 53);
}
@keyframes background-pan{
  from{
      background-position: 0% center;
  }
  to{
      background-position: -200% center;
  }
}
body {
    color: var(--main);
    background: var(--main);
    color: var(--second);
    overflow-x: hidden;
}

/* Hover Effect 1*/
.card {
    border: 0.5vmin solid var(--border);
    cursor: default;
    position: relative;
    width: 100%;
    height: 50%;
    margin-bottom: 2%;
  }
  
  .card:hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
  }
  
  .card:hover > .card-content {
    background-position: -10% 0%;
  }
  
  .card:hover > .card-icon {
    color: white; 
  }
  
  .card:hover > .card-content > .card-subtitle > .card-subtitle-word {  
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
  }
  
  .card:before {
    background: linear-gradient(
      130deg, 
      transparent 0% 33%, 
      var(--g1) 66%, 
      var(--g2) 83.5%, 
      var(--g1) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
  }
  
  .card-content {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 8%, 
      transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    padding: 8vmin;
    position: relative;
    transition: background-position 350ms ease;
    width: calc(100% - 10vmin);
    z-index: 2;
  }
  
  .card-title,
  .card-subtitle {
    font-weight: normal;
    margin: 0px;
  }
  
  .card-title {
    color: var(--g3);
    font-size: 72px;
    font-weight: bold;
  }
  
  .card-subtitle {
    color: var(--txt);
    font-size: 22px;
    margin-top: 2vmin;
    padding-right: 20%;
  }
  
  .card-subtitle-word {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;  
    transform: translateY(40%);
    transition: none;
  }

/* End */

/* Hover Effect 1*/
.card-2 {
    border: 0.5vmin solid var(--border);
    cursor: default;
    position: relative;
    width: 100%;
    height: 50%;
    margin-bottom: 2%;
  }
  
  .card-2:hover:before {
    background-position: 100% 100%;
    transform: scale(1.08, 1.03);
  }
  
  .card-2:hover > .card-content-2 {
    background-position: -10% 0%;
  }
  
  .card-2:hover > .card-content-2 > .card-subtitle-2 > .card-subtitle-word-2 {  
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0ms, transform 200ms cubic-bezier(.90, .06, .15, .90);
  }
  
  .card-2:before {
    background: linear-gradient(
      130deg, 
      transparent 0% 33%, 
      var(--main) 66%, 
      var(--main) 83.5%, 
      var(--g1) 100%
    );
    background-position: 0% 0%;
    background-size: 300% 300%;
    content: "";
    height: 100%;
    border: 5px solid var(--g2);
    left: 0px;
    pointer-events: none;
    position: absolute;
    top: 0px;
    transition: background-position 350ms ease, transform 350ms ease;
    width: 100%;
    z-index: 1;
  }
  
  .card-content-2 {
    display: flex;
    justify-content: space-between;
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 8%, 
      transparent 8%
    );
    background-position: 0% 0%;
    background-size: 5vmin 5vmin;
    height: calc(100% - 10vmin);
    padding: 8vmin;
    position: relative;
    transition: background-position 350ms ease;
    width: calc(100% - 10vmin);
    z-index: 2;
  }
  
  .card-title-2,
  .card-subtitle-2 {
    font-weight: normal;
    margin: 0px;
  }
  
  .card-title-2 {
    color: var(--g2);
    font-size: 56px;
    font-family: Arial, sans-serif;
  }
  
  .card-subtitle-2 {
    color: var(--txt);
    text-align: left;
    font-size: 20px;
    margin-top: 2vmin;
    padding-right: 20%;
    font-family: Georgia, serif;
  }
  
  .card-subtitle-word-2 {
    display: inline-block;
    margin: 0vmin 0.3vmin;
    opacity: 0;
    position: relative;  
    transform: translateY(40%);
    transition: none;
  }

/* End */

.f-section {
    margin: 3%;
}
#title-h {
   animation: background-pan 3s linear infinite;
    background: linear-gradient(to right, rgb(253, 216, 53), rgb(98, 0, 234), rgb(236, 64, 122), rgb(253, 216, 53));
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
    font-size: 56px;
    font-family: Arial,  sans-serif;
    margin-left: 2%;
}
.nav {
  box-shadow: 0px -5px 60px 1px var(--g1);
  margin-bottom: 5%;
}
#h-content {
    padding: 20px 30%;
    text-align: center;
    font-family: Georgia, serif;
    font-size: 20px;
    color: var(--txt);
    margin-bottom: 2%;
}
#imgs2 {
  width: auto;
  height: 150px;
  margin-right: 4%;
  padding: 3%;
  border: 2px solid var(--g3);
  border-radius: 12px;
}
#imgs{
    width: auto;
    height: 350px;
}
.images {
    display: flex;
    justify-content: space-around;
}
.footer{
  box-shadow: 0px -5px 60px 1px var(--g1);
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  padding-left: 5%;
  padding-top: 2%;
}
.foot-cont {
  display: flex;
}
#footimg {
  width: auto;
  height: 200px;
}
#artname {
  margin-bottom: 2%;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 56px;
}
#artcont {
  margin-left: 2%;
  font-size: 20px;
  text-align: left;
}

